*/datasets/
tools/
assets/clips/
*/runs/
modules/*/yolo11n.pt
modules/*/yolo11n-pose.pt
modules/*/datasets/
modules/*/models/
modules/*/runs/
action_recognition/mmaction2/
action_recognition/models/
action_recognition/yolo11n.pt
action_recognition/yolo11n-pose.pt
input/partido1/
output/partido1/
input/partido25clips/
output/partido25clips/
*/.ipynb_checkpoints/
*/.idea/
*/.vscode/